<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Onsaleproduct>
            <version>1.6.1.0</version>
        </Magentothem_Onsaleproduct>
    </modules>
    <frontend>
        <routers>
            <onsaleproduct>
                <use>standard</use>
                <args>
                    <module>Magentothem_Onsaleproduct</module>
                    <frontName>onsaleproduct</frontName>
                </args>
            </onsaleproduct>
        </routers>
        <layout>
            <updates>
                <onsaleproduct>
                    <file>onsaleproduct.xml</file>
                </onsaleproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<onsaleproduct>
				<use>admin</use>
				<args>
					<module>Magentothem_Onsaleproduct</module>
					<frontName>onsaleproduct</frontName>
				</args>
			</onsaleproduct>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="onsaleproduct">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<onsaleproduct translate="title" module="onsaleproduct">
						<title>Onsale Products</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/onsaleproduct</action>
							</configuration>
						</children>
					</onsaleproduct>
				</children>
			</magentothem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Onsaleproduct>
							<title>Onsaleproduct Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Onsaleproduct>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<onsaleproduct>
					<file>onsaleproduct.xml</file>
				</onsaleproduct>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <onsaleproduct>
                <class>Magentothem_Onsaleproduct_Model</class>
                <resourceModel>onsaleproduct_mysql4</resourceModel>
            </onsaleproduct>
            <onsaleproduct_mysql4>
                <class>Magentothem_Onsaleproduct_Model_Mysql4</class>
                <entities>
                    <onsaleproduct>
                        <table>onsaleproduct</table>
                    </onsaleproduct>
                </entities>
            </onsaleproduct_mysql4>
        </models>
        <resources>
            <onsaleproduct_setup>
                <setup>
                    <module>Magentothem_Onsaleproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onsaleproduct_setup>
            <onsaleproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onsaleproduct_write>
            <onsaleproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </onsaleproduct_read>
        </resources>
        <blocks>
            <onsaleproduct>
                <class>Magentothem_Onsaleproduct_Block</class>
            </onsaleproduct>
        </blocks>
        <helpers>
            <onsaleproduct>
                <class>Magentothem_Onsaleproduct_Helper</class>
            </onsaleproduct>
        </helpers>
    </global>
	<default>
		<onsaleproduct>
			<onsaleproduct_config>
				<enabled>1</enabled>
				<title>MA Onsale Products</title>
				<addtocart>1</addtocart>
				<addtowishlist>1</addtowishlist>
				<addtocompare>1</addtocompare>
				<review>1</review>
				<description>0</description>
				<qty>9</qty>
				<items>3</items>
				<width>135</width>
				<height>135</height>
			</onsaleproduct_config>
		</onsaleproduct>
	</default>
</config>